<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391179697150-hf4kbq96d3l4v1jvgj9tiphihsse3djp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391179697150-hf4kbq96d3l4v1jvgj9tiphihsse3djp</string>
	<key>API_KEY</key>
	<string>AIzaSyA1P3xEeIPWP1RY38CRX3iRhz4yyozWQBc</string>
	<key>GCM_SENDER_ID</key>
	<string>391179697150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aydoganpederli.InstaCloneFirebaseSwift</string>
	<key>PROJECT_ID</key>
	<string>instaclone-1a26c</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-1a26c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391179697150:ios:a1ee632277c1c2173b1eaf</string>
</dict>
</plist>